@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital@1&family=Nunito+Sans:wght@600&family=Roboto+Condensed&display=swap');


body {
  font-family: Arial;
}


/* Section 1 */
.content {
  margin: 0.2em 0.3em;
  padding: 0.1em 2em;
  float: left;
  display: flex;
  justify-content: center;
  gap: 2em;
}


.content_left {
  width: 75%;
  height: 100%;
}
.title {
  width: 100%;
  height: auto;
  padding-block: 1em;
}
.company_title {
  font-size: 70px;
  font-family: 'Lora', serif;
  font-weight: 700;
  color: rgb(217,99,255);
}
.info {
  width: 100%;
  height: auto;
  color: rgb(116,116,116);
  font-family: 'Lora', serif;
}
.go {
  width: 100%;
  height: auto;
  margin-block: 2rem;
}
.content_right {
  width: 10%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2.5rem;
}

.media {
  color: rgb(157,0,208);
  cursor: pointer;
}

.media:hover {
  color: #7c00ff;
}

/* Section 2 */
.content_list {
  margin: 0.2em 0.3em;
  padding: 0.1em 2em;
  float: left;
  display: flex;
  justify-content: center;
  gap: 2em;
}
.list_left {
  width: 50%;
}
.list_right {
  width: 50%;
}

.mySwiper {
  height: 350px;
}
.swiper-wrapper {
  align-items: center;
}
.swiper-slide {
  width: 200px;
  height: 250px;
  border-radius: 7px;
  padding: 0.75em;
}
/* style for mobile */
@media only screen and (max-width: 600px) {
  .content {
    padding: 0.1em 0.2em;
    justify-content: flex-start;
  }
  .content_left {
    width: 100%;
  }
}